.grid-container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: auto;

    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";

}
.nav-link{
    color: black;

}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 71, 71, 0.963);
}

.main{
    grid-area: main;
    background-color: rgba(74, 71, 71, 0.963);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.footer{
    grid-area: footer;
    background-color: rgba(74, 71, 71, 0.963);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.barra{
    width: 80vw;
    color: black;
}


.logo{
    width: 14rem;
    padding: 4px;
    border-radius: 15px;
}

.contenedor{
    padding: 4px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.descripcion{
    font-weight: bold;
    width: 10vw;
    text-align: left;
    color: black;
}

.card1{
    width: 27vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 174, 153);
    border-style: solid;
    border-color: rgb(129, 23, 28);
    border-radius: 5px;

}

.card2{
    width: 27vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 174, 153);
    border-style: solid;
    border-color: rgb(129, 23, 28);
    border-radius: 2px;
}

.card3{
    width: 27vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 174, 153);
    border-style: solid;
    border-color: rgb(129, 23, 28);
    border-radius: 5px;
}

.foto{
    width: 25vw;
    height: 10rem;
}