*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;

    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";

}
.nav-link{
    color: black;

}

.header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 71, 71, 0.963);
    max-height: 1fr;
}

.main{
    grid-area: main;
    background-color: rgba(74, 71, 71, 0.963);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 3fr;
}

.footer{
    grid-area: footer;
    background-color: rgba(74, 71, 71, 0.963);
    display: flex;
    justify-content: right;
    height: 20vh;
    gap: 1rem;
    max-height: 1fr;
}

.barra{
    width: 80vw;
    color: black;
}


.logo{
    width: 14rem;
    padding: 4px;
    border-radius: 15px;
}

.contenedor{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.descripcion{
    font-weight: bold;
    width: 10vw;
    text-align: left;
    color: black;
}

.cont-peliculas{
    display: flex;
    gap: 1rem;
}


.card{
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(174, 174, 153);
    border: solid 2px rgb(129, 23, 28);
    border-radius: 5px;

    position: relative;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

    transition: opacity 0.4s ease;
}

.button{
    border: none;
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(103, 94, 86);
    color: rgb(129, 23, 28);
    cursor: pointer;
}

.button:hover {
    background-color:rgb(254, 12, 25);
    color: beige;
}

.card-img {
    width: 100%;
    height: 10rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.img-hover {
    opacity: 0;
}

.card:hover .img-hover {
    opacity: 1;
}

.card:hover .img-base {
    opacity: 0;
}

.link{
    color: rgb(129, 23, 28);
}

.link:hover{
    color: beige;
}

.foto-peli{
    height: 15vh;
    width: 8vw;
}

.peliculas{
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 1rem;
}

.biblioteca{
    width: 100vw;
    padding: 1rem;
    color: black;
    background-color: rgb(174, 174, 153);
}

.formulario{
    width: 100vw;
    padding: 1rem;
    color: black;
    background-color: rgb(174, 174, 153);
    display: block;
}

input, textarea{
    width: 10rem;
}

.formulario div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}


@media (max-width: 820px) {

    .main {
        flex-direction: column;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .descripcion {
        width: 100%;
        text-align: center;
    }

    .cont-peliculas {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 45%;
        max-width: none;
    }
}

@media (max-width: 330px) {

    .cont-peliculas {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
